<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <div class="container-xxl text-center mb-5 mt-2">
            <h1 class="h1">About Us</h1>
        </div>
    </header>
    <div class="card p-3 align-middle mb-4">
        <div class="row g-0">
            <div class="col-5 col-sm-2">
                <img src="static/img/panos.jpg" class="img-fluid w-75 rounded-circle" alt="card-horizontal-image">
            </div>
            <div class="col-7 col-sm-10">
                <div class="card-body">
                    <h2 class="h2 card-title">Panagiotis Antivasis</h2>
                    <p class="card-text text-wrap w-50">Panagiotis Antivasis has a B.Sc in Computer Science from the 
                        <a href="https://www.uoc.gr/" target="_blank">University of Crete (UOC)</a>
                        and is currently an M.Sc Student in the <a href="https://hmu.gr/" target="_blank">Hellenic Mediterranean University (HMU)</a>. He has 11 months of experience in
                        R&D Software Engineering and Backend Development and is currently pursuing a Full-Stack Development career in <a href="https://www.intraway.gr/" target="_blank">Intraway LTD</a>.
                        His main interests are Software Development, Signal Processing and Semantic Web technologies.
                    </p>
                    <p class="card-text"><small class="text-muted"><a href="mailto:mtp327@edu.hmu.gr">mtp327@edu.hmu.gr</a></small></p>
                    <div class="btn-group">
                        <!-- <a href="" class="btn btn-outline-secondary">
                            <img src="static/img/globe.svg" alt="Website">
                        </a> -->
                        <a href="https://github.com/Antibas" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/linkedin.svg" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/antibas/" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/github.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 align-middle mb-4">
        <div class="row g-0">
            <div class="col-5 col-sm-2">
                <img src="static/img/giannis.jpeg" class="img-fluid w-75 rounded-circle" alt="card-horizontal-image">
            </div>
            <div class="col-7 col-sm-10">
                <div class="card-body">
                    <h2 class="h2 card-title">Giannis Vasileiou</h2>
                    <p class="card-text text-wrap w-50">Giannis Vassiliou first earned a degree in Chemistry from the <a href="https://www.uoc.gr/" target="_blank">University of Crete (UOC)</a> in 1998. 
                        He later pursued a degree in Electronic and Computer Engineering, which he received from the <a href="https://www.tuc.gr/el/archi" target="_blank">Technical University of Crete (TUC)</a> in 2008. 
                        Expanding his academic interests, he completed a Master's degree in Sociology at the <a href="http://aegean.gr/" target="_blank">University of the Aegean</a> in 2017. 
                        In 2021, he obtained a Master's degree in Informatics Engineering from the Department of Electrical and Computer Engineering at the 
                        HMU, where he also earned his Ph.D. in 2024.
                        His research focuses on RDF summarization and the integration of Large Language Models (LLMs) with Semantic Web technologies.
                    </p>
                    <p class="card-text"><small class="text-muted"><a href="mailto:giannis_vassiliou@yahoo.gr">giannis_vassiliou@yahoo.gr</a></small></p>
                    <div class="btn-group">
                        <!-- <a href="" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/globe.svg" alt="Website">
                        </a> -->
                        <a href="https://www.linkedin.com/in/giannis-vassiliou-86718861/" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/linkedin.svg" alt="">
                        </a>
                        <a href="https://github.com/giannisvassiliou" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/github.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 align-middle mb-4">
        <div class="row g-0">
            <div class="col-5 col-sm-2">
                <img src="static/img/haridimos.jpg" class="img-fluid w-75 rounded-circle" alt="card-horizontal-image">
            </div>
            <div class="col-7 col-sm-10">
                <div class="card-body">
                    <h2 class="h2 card-title">Haridimos Kondylakis</h2>
                    <p class="card-text text-wrap w-50">
                        Haridimos Kondylakis is an Associate Professor of Big Data Engineering at 
                        <a href="http://www.csd.uoc.gr">Computer Science Department (CSD)</a>, <a href="http://www.uoc.gr">University of Crete (UOC)</a>
                        and an Affiliated Researcher at <a href="http://www.ics.forth.gr/cml" target="_blank">Computational BioMedicine Laboratory (CBML)</a>, <a href="http://www.ics.forth.gr" target="_blank">Institute of Computer Science</a>, <a href="http://www.forth.gr" target="_blank">Foundation of Research &amp; Technology-Hellas (FORTH)</a>.
                        He holds a Ph.D and an M.Sc. in Computer Science from <a href="http://www.uoc.gr">University of Crete</a>.
                    </p>
                    <p class="card-text"><small class="text-muted"><a href="mailto:kondylak@ics.forth.gr">kondylak@ics.forth.gr</a></small></p>
                     <div class="btn-group">
                        <a href="https://users.ics.forth.gr/~kondylak/" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/globe.svg" alt="Website">
                        </a>
                        <a href="https://www.linkedin.com/in/haridimos-kondylakis-4834945/" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/linkedin.svg" alt="">
                        </a>
                        <a href="https://github.com/kon0925" target="_blank" class="btn btn-outline-secondary">
                            <img src="static/img/github.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 align-middle mb-4">
        <h2 class="h2 card-header">More contributors</h2>
        <ul class="card-body list-group list-group-flush">
            <!-- <li><span>Giannis Vassiliou</span> vassil@hmu.gr</li> -->
            <li class="list-group-item"><span class="font-bold">Paraskevi Zacharia:</span> <a href="mailto:mtp338@edu.hmu.gr">mtp338@edu.hmu.gr</a></li>
            <li class="list-group-item"><span class="font-bold">Eleftheria Barka:</span> <a href="mailto:eleftheria.barka@outlook.com">eleftheria.barka@outlook.com</a></li> 
            <li class="list-group-item"><span class="font-bold">Julian Gini:</span> <a href="mailto:joulian.gini@gmail.com">joulian.gini@gmail.com</a></li> 
            <li class="list-group-item"><span class="font-bold">Kyriakaki Argyri:</span> <a href="mailto:mtp322@edu.hmu.gr">mtp322@edu.hmu.gr</a></li>
            <li class="list-group-item"><span class="font-bold">Giorgos Andreadakis:</span> <a href="mailto:andreadakisgiorgos@yahoo.com">andreadakisgiorgos@yahoo.com</a></li>
            <li class="list-group-item"><span class="font-bold">Ioannis Christodoulakis:</span> <a href="mailto:ioannischristodoulakis14@gmail.com">ioannischristodoulakis14@gmail.com</a></li>
        </ul>
    </div>
    <div class="card-footer text-center">
        <a href="/" class="btn btn-secondary">Go Back</a>
    </div>
    <footer class="footer text-center mt-4">
        <p class="text-muted">&copy; 2025. All rights reserved.</p>
    </footer>
    <script src="static/js/script.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>